In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index=['R1','R2','R3','R4','R5'],columns=['C1','C2','C3','C4'])

In [7]:
df.head()

    C1  C2  C3  C4
R1   0   1   2   3
R2   4   5   6   7
R3   8   9  10  11
R4  12  13  14  15
R5  16  17  18  19

In [8]:
df.loc['R2']

C1    4
C2    5
C3    6
C4    7
Name: R2, dtype: int64

In [10]:
df.iloc[2:,2:]

    C3  C4
R3  10  11
R4  14  15
R5  18  19

In [11]:
# converting to array 

df.iloc[:,:].values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [15]:
df['C1'].unique()

array([ 0,  4,  8, 12, 16])

In [18]:
df['C2'].value_counts()

13    1
5     1
17    1
9     1
1     1
Name: C2, dtype: int64