### Sets

In [7]:
# sets - it wont allow any duplicates , no indexing 
sts= {1,1,2,2,3,4,5,6,7}
print(sts)

{1, 2, 3, 4, 5, 6, 7}

In [8]:
sts.add('Sesh')
print(sts)

{1, 2, 3, 4, 5, 6, 7, 'Sesh'}

In [9]:
st={}
type(st)

dict

In [15]:
#name_dict={"Name1":"Sesh","Name2":"Prasad","Name1":"Karthi"}
name_dict={'Name1':'Sesh','Name2':'Prasad','Name3':'Karthi'}
print(name_dict)

{'Name1': 'Sesh', 'Name2': 'Prasad', 'Name3': 'Karthi'}

In [16]:
name_dict["Name1"]

'Sesh'

In [17]:
for x in name_dict:
  print(x)

Name1
Name2
Name3

In [18]:
for x in name_dict.values():
  print(x)

Sesh
Prasad
Karthi

In [28]:
Name1={'Sesh':1990}
Name2={'Vedh':2020}
Name3={'Karthi':2017}  

Mems= {'mem1':Name1,'mem2':Name2,'mem3':Name3}
print(Mems)

{'mem1': {'Sesh': 1990}, 'mem2': {'Vedh': 2020}, 'mem3': {'Karthi': 2017}}

In [32]:
Mems['mem1']['Sesh']

1990

{'Sesh': 1990}
{'Vedh': 2020}
{'Karthi': 2017}

### Tuples

In [36]:
# Tuples are immutable means cant change the values at indexes but can be entire tuple can be replaced 

tup=('Sesh','Vedh','karthi')
print(type(tup))
print(tup)

<class 'tuple'>
('Sesh', 'Vedh', 'karthi')

In [37]:
tup.insert('Seshadri')

AttributeError: ignored

In [38]:
tup(2)

TypeError: ignored